@font-face {
  font-family: "Messina Sans";
  src: url("../MessinaSans-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Brutal Type";
  src: url("../BrutalType.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}